.azul{
    background-color: #04445b;
    height: 25%;
}

.aqua{
    background-color: #0fbd94;
}

.laqua{
    color: #0fbd94;
}

.acielo{
    background-color: #a0d3ca;
}

.gris{
    background-color: #d1d1d1;
}

.lgris{
    color: gray;
}

.blanco{
    background-color: white;
}

.lblanco{
    color: white;
}

.lazul{
    color: #13857b;
}


.grisf{
    background-color: gainsboro;
}